@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

@theme {
  --font-sans: var(--font-urbanist), ui-sans-serif, system-ui, sans-serif;
}